body {
  font-size: 1rem;
  font-family: "Arial Black", "微軟正黑體";
}
h1 {
  text-align: center;
}
#img-block {
  margin: 0px auto;
  width: 50%;
}
img {
  width: 100%;
}
#canvas {
  display: block;
  margin: 0px auto;
  background: url(images/back.png);
  background-size: cover;
}
