html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  font-family: "Arial Black", "微軟正黑體";
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: url(images/back.png);
  background-size: cover;
}
